/*Comportamento normal da página*/
html {
    height: 100%;
}
body {
    background-image: url('/images/fundodesktop.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 0%;
    padding: 0%;
}
 aside main {
    flex-wrap: wrap;
 }
/* Estilização do cabeçalho Inicio*/
header nav {
    background-color: lightsteelblue;
   

     
    font-size: large;
    font-weight: bold;
       
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-left: 1%;
    padding-right: 1%;
    margin-bottom: 5px;
}

header h1{
     color: darkblue;
}

header a {
    text-decoration: none;
}

header nav ul li {
    list-style: none;
    display: flex;
    display: inline-block;
}

header nav ul li a {
    color: black;
    font-weight: bold;
    padding: 10px;
}

nav ul li a:hover {
    color: white;
    background-color: grey;
    border-radius: 5px;
}

nav ul li a:visited{
   color: black;
}

/* Estilização do cabeçalho Fim*/


/* Estilização da Lateral de Personagens Inicio*/

.pesquisa-personagens {
    margin: 1%;
}

aside{
      width: 25%;
      float: left;
      color:white;
      flex-wrap: wrap;
}
aside article {
    display: flex;
    margin: 1%;
    margin-right: 10px;
  
    
   
}
aside article div img {
    padding-right: 10px;
}


/*  Estilização da Lateral de Personagens Fim*/



/* Estilização Conteudo Central Inicio*/
.pesquisa-autores {
    margin: 1%;
}

main {
   
    float: left;
    width: 50%;
    flex-wrap: wrap;
    color: white;
}
main section {
    display: flex;
    
   
    margin: 1%;
}

main section>div {
    flex: 1 1 200px;
}


/* Estilização Conteudo Central Fim*/


/* Estilização da Lateral de Obras Inicio*/

.pesquisa-obras {
    margin: 1%;
}

/* Estilização da Lateral de Obras Fim*/



/* Estilização do Rodapé Inicio*/

footer h4 {
    background-color: lightsteelblue;
   
    font-size: large;
    font-weight: bold;
       
    text-align: center;
    clear: both;
   
    width: 100%;
  
}


/* Estilização do Rodapé Fim*/



/* Estilização Viewport Incio*/

@media screen  and (max-width: 768px){
    body{
        margin: 0px;
        padding: 0px;

        background-image: url('/images/fundomobile.jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;;
       
    }
    

}


/* Estilização Viewport Incio*/